In [1]:
import sqlalchemy

In [2]:
path="mysql+pymysql://root:my-secret-pw@mysql:3306/mysql"
engine = sqlalchemy.create_engine(path,echo=True)

In [3]:
conn = engine.connect()

2021-04-10 10:55:40,687 INFO sqlalchemy.engine.Engine SHOW VARIABLES LIKE 'sql_mode'
2021-04-10 10:55:40,688 INFO sqlalchemy.engine.Engine [raw sql] {}
2021-04-10 10:55:40,698 INFO sqlalchemy.engine.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2021-04-10 10:55:40,699 INFO sqlalchemy.engine.Engine [generated in 0.00111s] {}
2021-04-10 10:55:40,703 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2021-04-10 10:55:40,704 INFO sqlalchemy.engine.Engine [raw sql] {}

In [4]:
conn.execute("commit")

2021-04-10 10:55:41,759 INFO sqlalchemy.engine.Engine commit
2021-04-10 10:55:41,761 INFO sqlalchemy.engine.Engine [raw sql] {}

In [5]:
conn.execute("create database test")

2021-04-10 10:55:42,750 INFO sqlalchemy.engine.Engine create database test
2021-04-10 10:55:42,751 INFO sqlalchemy.engine.Engine [raw sql] {}
2021-04-10 10:55:42,765 INFO sqlalchemy.engine.Engine COMMIT

In [18]:
path="mysql+pymysql://root:my-secret-pw@mysql:3306/test"
engine = sqlalchemy.create_engine(path, echo=True)
conn = engine.connect()

2021-04-10 11:03:02,861 INFO sqlalchemy.engine.Engine SHOW VARIABLES LIKE 'sql_mode'
2021-04-10 11:03:02,863 INFO sqlalchemy.engine.Engine [raw sql] {}
2021-04-10 11:03:02,869 INFO sqlalchemy.engine.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2021-04-10 11:03:02,870 INFO sqlalchemy.engine.Engine [generated in 0.00103s] {}
2021-04-10 11:03:02,873 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2021-04-10 11:03:02,873 INFO sqlalchemy.engine.Engine [raw sql] {}

In [19]:
from sqlalchemy import Column, Integer, String
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

class SMS(Base):
   __tablename__ = 'sms'
   id = Column(Integer, primary_key=True)
   smstext = Column(String(3000))
   smstype = Column(String(20))

Base.metadata.create_all(engine)

2021-04-10 11:03:15,755 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-04-10 11:03:15,757 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2021-04-10 11:03:15,758 INFO sqlalchemy.engine.Engine [generated in 0.00102s] {'table_schema': 'test', 'table_name': 'sms'}
2021-04-10 11:03:15,762 INFO sqlalchemy.engine.Engine COMMIT

In [48]:
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind = engine)
session = Session()

c1 = SMS(smstext = 'hello12', smstype = 'ham')

session.add(c1)
session.commit()
conn.execute("commit")

2021-04-10 11:15:49,461 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-04-10 11:15:49,462 INFO sqlalchemy.engine.Engine INSERT INTO sms (smstext, smstype) VALUES (%(smstext)s, %(smstype)s)
2021-04-10 11:15:49,463 INFO sqlalchemy.engine.Engine [cached since 750.1s ago] {'smstext': 'hello12', 'smstype': 'ham'}
2021-04-10 11:15:49,465 INFO sqlalchemy.engine.Engine COMMIT
2021-04-10 11:15:49,474 INFO sqlalchemy.engine.Engine commit
2021-04-10 11:15:49,475 INFO sqlalchemy.engine.Engine [raw sql] {}

In [49]:
import pandas as pd
SQL_Query = pd.read_sql_query(
'''select * from sms
''', conn)
df = pd.DataFrame(SQL_Query)
df

2021-04-10 11:15:51,223 INFO sqlalchemy.engine.Engine select * from sms

2021-04-10 11:15:51,224 INFO sqlalchemy.engine.Engine [raw sql] {}

    id  smstext smstype
0    1    hello     ham
1    2    hello     ham
2    3    hello     ham
3    4    hello     ham
4    5    hello     ham
5    6    hello     ham
6    7    hello     ham
7    8    hello     ham
8    9   hello1     ham
9   10   hello1     ham
10  11   hello1     ham
11  12   hello1     ham
12  13   hello1     ham
13  14  hello12     ham
14  15  hello12     ham
15  16  hello12     ham
16  17  hello12     ham